body{
    background-color: black;
}
#message{
    color:antiquewhite;
    border-style: ridge;
    border-radius: 5px;
    border-width: 1px;
    margin-top: 250px;
    font-family: Monaco, monospace;
}
#song1bdy{
    background-color:rgb(32, 10, 52)
}
#lyrics{
    color:beige;
    font-size: 15px;
    width: 100%;
    text-align: center;
}
.video-container iframe {
    width: 640px;
    height: 360px;
    border: 0;
}